.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }
    
}

.admin-content{
    width: 100%;
    .admin-header{
        height: 40px;
        border: 1px solid green
    }

    .admin-main{
<<<<<<< HEAD
        
=======
<<<<<<< HEAD
        
=======
        border: 1px solid red
>>>>>>> 7d9caa718caf1c4f0a97338adcbfc20ed5b5bda2
>>>>>>> e64ec704df586cf1601cf7575bc9a34ee2e40883
    }
}


